.offer__map {
  height: 579px;
  width: 1144px;
  max-width: 100%;
  margin: 0 auto 50px auto;
  display: block;
  position: relative;
}

.offer__no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
